<div class="container content">
  <div class="page-header">
    <div style="float: right;">
      <select class="custom-select" (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>
    <div class="container">
      <h4>Route Simple</h4>
      <ul class="nav">
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/home']">Home</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/reservas']">Reservas</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/vuelos']" *ngIf="isLogin()">Vuelos</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" *ngIf="!isLogin()">Login</a></li>
        <li class="nav-item"><a class="nav-link" (click)="logout()" href="#" *ngIf="isLogin()">Salir</a></li>

      </ul>
    </div>
  </div>
  <div class="row">
    <h1>
      {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
    </h1>
  </div>
  <router-outlet></router-outlet>
</div>

<hr class="mb-2">

<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <div class="footer-copyright text-center py-3">© 2020 Copyright - Fecha: {{ time | async }}</div>

</footer>
<!-- Footer -->
